/* global reset */
 *{
     margin: 0;
     padding: 0;
 }
 a{
 	text-decoration: none;
 	color: #333;
 	font-weight: normal;

 }

html, body{
	/*font-family:'SourceSansPro-Light',san-serif;*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	display: block;
}



/* Nav Style */
.nav{

	width:20%;
	min-width: 300px; 
	height: 100%;
	background:#fafafa;
	border-right:1px solid #e6e8ea; 
	overflow-y: auto;
	position: fixed;

  	
}

.logo{

  	width: 200px;
  	height: 30px;
  	background: url(databricks.svg);
 	background-repeat: no-repeat;
 	margin: 40px auto 0 auto;
}

nav{
	padding-left:60px;
	padding-top: 40px;

}

ul li{
	list-style: none;
	font-weight: normal;
	line-height: 1.6em;
	font-size: 16px;
	color:#444;
}

ul .active{
	font-weight: bold;
	color: black;
}
ul ul{
	padding-left: 20px;
}

/* Content Style */

.content{
	width: 70%;
	margin-left: 25%;
	overflow-y: auto;

}
.content .container{
	padding: 40px 60px;

}
.page_title{/*
	font-size: 36px;
	font-weight: lighter;*/
	font-size: 33px;
	font-weight: bold;
	padding-bottom: 40px;
	display: block;
}

.left{
	display: inline-block;
	width: 20%;

}
.right{
	display: inline;
	width: 70%;
}

table{
	width: 100%;
	border:1px solid #ebebeb;
	margin: 10px 0 15px 0;
	border-collapse: collapse;
	border-spacing: 0;

}

table tr{
	border-bottom: 1px solid #f5f5f5;
}
tbody{
	vertical-align: top;
}
tr th{
	background: #fafafa;
	text-align: left;
	font-size: 18px;
	font-weight: lighter;
	padding: 10px 20px;
}
td{
	font-size: 14px;
	padding: 10px 20px;
}

.it{
	font-style: italic;
	font-weight: lighter;
}


p{
	font-size: 14px;
	line-height: 20px;
	/*font-weight: 200;*/
	display: block;
	padding-bottom: 5px;
}
.section_title{
/*	font-size: 22px;
	font-weight: lighter;*/
	font-size: 1.3em;
	font-weight: normal;
	/*color: #FF5224;*/
	/*border-bottom: 1px solid #FF5224;*/
	/*padding-bottom: 10px;*/
	padding: 30px 0 20px 0;
	color: #FF5224;
	display: block;

}


img{
  width: 100%;
  height: auto;

}

.normal{
	font-weight: normal;
	color:#424242;
}

.para_title{
	font-size:14px;
	font-weight: 600;
	margin: 10px 0 10px 0;
	display: block;
}

.code_text{
	font-size: 14px;
	font-weight: lighter;
	border: 1px solid #ebebeb;
	background: #fafafa;
	padding: 7px 0 7px 20px;
	margin: 10px 0 15px 0;
    display: block;
    font-family: monospace;
    white-space: pre;

}
.datatype{
	font-size: 14px;
	font-weight: lighter;
	padding:3px 10px;
	border: 1px solid #ebebeb;
	background: #fafafa;
	margin: 20px 0 20px 0;
	border-radius: 4px;
	
}

.indent{
	padding-left: 50px;

}