
<!-- applicationTemplate -->
<% if (window.settings.applications) { %>
<td data-application-name="<%- applicationInstName %>" data-application-state="<%- state %>">
  <%- applicationInstName %>
</td>
<% } %>
<td data-application-type="<%- applicationType %>" data-application-state="<%- state %>">
    <a href=<%- driver %>><img src="/images/apps/<%- applicationLogo %>" border="0" alt="Application UI page"></a>
</td>
<td>
  <%- state %>
</td>
<td>
  <div>
      <a style="cursor: pointer" class="restart-button with-icon"
         data-restart-application="<%- applicationInstName %>">
          <div style="display: inline-block"><i class="fa fa-refresh fa-fw"></i>Restart</div>
      </a>
      <a style="cursor: pointer" class="remove-button with-icon"
       data-remove-application="<%- applicationInstName %>">
      <div style="display: inline-block"><i class="fa fa-remove fa-fw"></i>Terminate</div>
    </a>
  </div>
</td>
