<!-- applicationsViewTemplate -->

<!-- Only show the Add button if applications are enabled -->
<% if (window.settings.applications) { %>
<h5>
  <a style="cursor: pointer" class="add-button with-icon" id="application-add-button">
    <i class="fa fa-plus fa-fw"></i>Add Application
  </a>
</h5>
<% } %>

<table class="table table-bordered-outer">
  <thead>
  <tr>
<% if (window.settings.applications) { %>
    <th class="span2">Name</th>
<% } %>
    <th class="span2">Application</th>
    <th class="span2">State</th>
    <th class="span2">Options</th>
  </tr>
  </thead>
  <tr style="display:none" id="application-view-new-indicator">
    <td colspan="8" style="background-color: #7A9CFF; color:#ffffff">
      <span>
      The new application is being created and will be visible in the list soon.  Actual application memory size may differ slightly from requested size.
      </span>
    </td>
  </tr>
  <tbody id="applications-table">
  <!-- The rest will be filled in by JavaScript -->
  </tbody>
</div>

