<li>
  <label>
    <% if (inputType === "text") { %>
      <%- label %>
      <input type="text" class="plot-options" value=<%- value %> />
    <% } %>
    <% if (inputType === "checkbox") { %>
      <%- label %>
      <input type="checkbox" class="plot-options" style="vertical-align:baseline;" <% if (value) { %> checked="checked" <% } %> />
    <% } %>
    <% if (inputType === "radio") { %>
      <input name="radio" type="radio" value=<%- value %> class="plot-options <%- key %>"
      style="vertical-align:baseline;" <% if (value) { %> checked <% } %> /><%- label %>
    <% } %>
    <% if (inputType === "slider") { %>
      <%- label %>
      <div id="slider" class="plot-options" style="width:206px; float: left;"></div>
      <p id="slider-value" class="plot-options" style="display: inline">: <%- value %></p>
      <input id="input" class="plot-options" style="display:none;" value=<%- value %> />
      <script>
        $(".plot-options#slider").slider({
          range: "min",
          value: <%- value %>,
          step: 0.01,
          min: 0.02,
          max: 0.99,
          slide: function(event, ui) {
            $( ".plot-options#input" ).val(ui.value);
            $( ".plot-options#slider-value" ).text(": " + ui.value);
            $( ".plot-options#input" ).trigger("change");
          }
        });

        $(".plot-options#input").change(function () {
          var value = this.value.substring(1);
          $("#slider").slider("value", parseInt(value));
        });
      </script>
    <% } %>
  </label>
</li>
