<!-- customizeDialogTemplate -->
<div class="modal modal-wide plot-customization">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Customize Plot</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid customize-dialog-body">
      <div class="span2">
        <label>All fields:</label>
        <ul class="src-list">
          <% for (var i = 0; i < allColumns.length; i++) { %>
          <li class="src-item item<%= i %>" title="<%= allColumns[i] %>" data-name="<%- allColumns[i] %>"><%- allColumns[i].trim() %></li>
          <% } %>
        </ul>
      </div>
      <div class="span3">
        <label>Keys:</label>
        <ul class="dst-list dst-list-x plot-keys">
          <% for (var i = 0; i < xColumns.length; i++) { %>
          <li class="dst-list-item" title="<%= xColumns[i] %>" data-name="<%- xColumns[i] %>">
            <btn class="closeButton"><i class="fa fa-remove"></i></btn><%- xColumns[i].trim() %>
          </li>
          <% } %>
        </ul>
        <label>Series groupings:</label>
        <ul class="dst-list dst-list-pivot plot-series-groupings">
          <% for (var i = 0; i < pivotColumns.length; i++) { %>
          <li class="dst-list-item" title="<%= pivotColumns[i] %>" data-name="<%- pivotColumns[i] %>">
            <btn class="closeButton"><i class="fa fa-remove"></i></btn><%- pivotColumns[i].trim() %>
          </li>
          <% } %>
        </ul>
        <label>Values:</label>
        <ul class="dst-list dst-list-y plot-values">
          <% for (var i = 0; i < yColumns.length; i++) { %>
          <li class="dst-list-item" title="<%= yColumns[i] %>" data-name="<%- yColumns[i] %>">
            <btn class="closeButton"><i class="fa fa-remove"></i></btn><%- yColumns[i].trim() %>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="span7">
        <div class="plot-preview"></div>
        <div class="span3 custom-plot-options">
          <ul >
            <!-- populated based on plugin custom options -->
          </ul>
        </div>
      </div>

    </div>
    <div class="row-fluid">
      <div class="span5">
        <label>Aggregation:
          <select class="input-aggregation">
            <option value="sum" <%= pivotAggregation === "sum" ? "selected" : "" %> >SUM</option>
            <option value="avg" <%= pivotAggregation === "avg" ? "selected" : "" %> >AVG</option>
            <option value="min" <%= pivotAggregation === "min" ? "selected" : "" %> >MIN</option>
            <option value="max" <%= pivotAggregation === "max" ? "selected" : "" %> >MAX</option>
            <option value="count" <%= pivotAggregation === "count" ? "selected" : "" %> >
            COUNT
            </option>
          </select>
        </label>
      </div>
      <div class="span7">
        <label>Display type:
          <select class="input-display-type">
            <%
            for (var i = 0; i < PlotControls.complexPlotTypes.length; i++) {
            var plotType = PlotControls.complexPlotTypes[i];
            %>
            <option value="<%= plotType %>" <%= plotType === displayType ? "selected" : "" %> >
            <%= PlotControls.displayTypeNames[plotType] %>
            </option>
            <% } %>
          </select>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    <a href="#" class="btn btn-primary save-button">Apply</a>
  </div>
</div>
