<!-- dashboardEditControlsTemplate -->
<div class="dashboard-edit-controls">
  <div class="widget-edit-controls">
    Position: <span class="coordinates-box"></span>
    Size:
    <select class="size-box">
      <option value="800x600">800x600</option>
      <option value="800x800">800x800</option>
      <option value="1024x768">1024x768</option>
      <option value="1024x1600">1024x1600</option>
    </select>
    <div class="btn-group btn-small">
      <a class="btn btn-small dropdown-toggle add-button" data-toggle="dropdown" href="#">
        Add <b class="caret"></b>
      </a>
      <ul class="dropdown-menu add-widget-dropdown right">
        <li><a class="add-input" href="#">Input</a></li>
        <li><a class="add-view" href="#">View</a></li>
      </ul>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li><a href="#" class="base-queries-tab">Setup queries</a></li>
    <li class="active"><a href="#" class="widgets-tab">Controls</a></li>
  </ul>
</div>