<!-- dashboardBaseQueriesTemplate -->
<div class="dashboard-base-queries">
  <p style="color: #c00">
    Setup queries are deprecated, and may be targeted for removal in future releases.
    Consider using the <a href="#joblist">Jobs scheduler</a> to precompute data for your dashboards instead.<br>
    You can still use the scheduling functionality below to periodically refresh the visible dashboard.
  </p>
  <div class="queries">
    <!-- Filled in by JS -->
  </div>
  <div>
    <button class="btn btn-small add-base-query">
      <i class="fa fa-plus"></i> Add query
    </button>
  </div>
  <div class="schedule-controls">
    <p>
      Last refresh: <span class="last-refresh">Never</span>
      <button class="btn btn-small refresh-now-button">Refresh now</button>
    </p>
    <p>
      Schedule:
      <select class="refresh-interval">
        <option value="manual">Refresh manually</option>
        <option value="1h">Every hour</option>
        <option value="3h">Every 3 hours</option>
        <option value="6h">Every 6 hours</option>
        <option value="24h">Every day</option>
        <option value="custom">Custom...</option>
      </select>
      <span class="custom-interval-controls">
        Every <input class="custom-interval-value" type="text" value="1">
        <select class="custom-interval-units">
          <option value="s">seconds</option>
          <option value="m">minutes</option>
          <option value="h">hours</option>
        </select>
      </span>
    </p>
  </div>
</div>
