<!-- downloadControlsTemplate -->
<div class="download-controls">
  <% if (!showFullDownloadOption) { %>
  <a class="btn btn-small results-download-preview" title="Download CSV">
    <i class="fa fa-download"></i>
  </a>
  <% } else { %>
  <div class="btn-group btn-small" style="padding-left: 4px; padding-right: 4px;">
    <a class="btn btn-small results-download-preview" title="Download CSV">
      <i class="fa fa-download"></i>
    </a><a class="btn btn-small dropdown-toggle" data-toggle="dropdown"
           style="padding-left: 6px; padding-right: 6px">
    <b class="caret"></b>
  </a>
    <div class="dropdown-menu" role="menu">
      <div class="row-fluid" style="">
        <ul class="span12 multicol-menu">
          <li>
            <a href="#" class="results-download-preview">
              Download preview
            </a>
          </li>
          <% if (disableFullDownloadReason) { %>
            <li title="<%- disableFullDownloadReason %>">
              <a href="#" class="dropdown-disabled" disabled>
                Download full results
              </a>
            </li>
          <% } else { %>
            <li>
              <a href="#" class="results-download">
                Download full results
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <% } %>
</div>
