<!-- editViewDialogTemplate -->
<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= mode === "create" ? "Create" : "Edit" %> Data View</h3>
  </div>
  <div class="modal-body">
    <form style="margin: 0;">
      <div>
        <label>Label:</label>
        <input type="text" class="input-label" value="<%- label %>">
        <label>Language:</label>
        <select class="language-select">
          <option value="sql"
          <% if (language === "sql") { print("selected"); } %>
          >SQL</option>
          <option value="python"
          <% if (language === "python") { print("selected"); } %>
          >Python</option>
          <option value="r"
          <% if (language === "r") { print("selected"); } %>
          >R</option>
        </select>
      </div>
      <input type="hidden" name="guid" value="<%- guid %>">
      <label>Query:</label>
      <textarea rows="6" class="input-query source-code" spellcheck="false"><%- query %></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    <a href="#" class="btn btn-primary save-button">Save</a>
  </div>
</div>
