<!-- libraryCreateTemplate -->
<h2>New Library</h2>

<div class="row-fluid">
  <div class="multi-input-row">
    <div class="row-fluid span12">
      <label class="control-label">Source</label>
      <div>
        <select id="lib-selector" class="source">
          <option value="scala" selected="true">Upload Java/Scala JAR</option>
          <option value="python">Upload Python Egg or PyPI</option>
          <% if (window.settings.enableMavenLibraries) { %>
          <option value="maven">Maven Coordinate</option>
          <% } %>
        </select>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div id="table-import-details">
      <div class="multi-input-row">
        <div>
          <label class="control-label">Library Name</label>
          <div><input type="text" class="field_library_name" placeholder="My Library"></div>
        </div>
      </div>
      <div class="multi-input-row">
        <div>
          <label>JAR File</label>
          <div id="dropzoneJarFiles" class="dropzoneJarFiles"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid table-import-submit">
    <div class="library-create-message"><!-- Will be filled in by JavaScript --></div>
    <button class="btn btn-small submit-create-library">Create Library</button>
  </div>
</div>
