<!-- mavenLibraryCreateTemplate -->

<h2>New Library</h2>

<div class="row-fluid">
    <div class="multi-input-row">
        <div class="row-fluid">
            <label class="control-label">Source</label>
            <div>
                <select id="lib-selector" class="source">
                    <option value="scala">Upload Java/Scala JAR</option>
                    <option value="python">Upload Python Egg or PyPI</option>
                    <option value="maven" selected="true">Maven Coordinate</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <h5>Install Maven Artifacts</h5>
        <div id="maven-installer" class="multi-input-row">
            <div class="row-fluid">
                <label class="control-label">Coordinate</label>
                <div><input type="text" class="maven_library_name" placeholder="Maven Coordinate (e.g. com.databricks:spark-csv_2.10:1.0.0)"></div>
            </div>
        </div>
        <div>
            <% if (window.settings.enableSparkPackages) { %>
            <button class="btn btn-small open-package-browse" style="margin-bottom: 10px;">Search Spark Packages and Maven Central</button>
            <% } %>
        </div>
        <div class="advanced-pointer pointer" style="margin-bottom:10px;" data-toggle="collapse" data-target="#advanced-options">
            <a class="with-icon fa-fw spark-toggle">
                <i id="options-arrow" class="node-arrow fa fa-caret-right"></i>
            </a><span>Advanced Options</span>
        </div>
        <div class="row-fluid">
            <div id="advanced-options" class="collapse">
                <div class="multi-input-row">
                    <div class="row-fluid">
                        <label class="control-label">Repository</label>
                        <div><input type="text" class="maven_repo_name" placeholder="Repository URL (https://oss.sonatype.org/content/repositories/)"></div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label">Excludes</label>
                        <div><input type="text" class="maven_excludes" placeholder="Dependencies to exclude (log4j:log4j,junit:junit)"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid table-import-submit">
            <div class="maven-resolve-process" hidden="hidden"><i class="fa fa-spinner fa-spin"></i> Resolving Maven Dependencies</div>
            <div class="library-create-message"><!-- Will be filled in by JavaScript --></div>
            <div>
            <button class="btn btn-small submit-create-library">Create Library</button>
            </div>
        </div>
    </div>
</div>