<!-- plotControlsTemplate -->
<div class="plot-controls">
  <%
  // Type of plot to show on our second button
  var secondType = (curType === "table" ? lastComplexView : curType);
  %>
  <a class="btn btn-small display-type-button"
     data-type="table" title="Raw table">
    <i class="fa fa-table"></i>
  </a>
  <div class="btn-group btn-small" style="padding-left: 4px; padding-right: 4px;">
    <a class="btn btn-small display-type-button" data-type="<%= secondType %>"
       title="<%= PlotControls.displayTypeNames[secondType] %>">
      <i class="<%= PlotControls.displayTypeIcons[secondType] %>"></i>
    </a><a class="btn btn-small dropdown-toggle" data-toggle="dropdown"
           style="padding-left: 6px; padding-right: 6px">
    <b class="caret"></b>
  </a>
    <div class="dropdown-menu" role="menu">
      <div class="row-fluid" style="width: 220px;">
        <% // Keep pivotTable the last choice.
        var typeGroups = [
          ["barChart", "scatterPlot", "mapPlot", "lineChart", "areaChart", "pieChart"],
          ["quantilePlot", "histogram", "boxPlot", "qqPlot", "pivotTable"],
        ];
        typeGroups.forEach(function(types) {
        %>
        <ul class="span6 multicol-menu">
          <% types.forEach(function(t) { %>
          <li>
            <a href="#" class="display-type-button" data-type="<%= t %>">
              <i class="<%= PlotControls.displayTypeIcons[t] %> fa fa-fw"></i>
              <%= PlotControls.displayTypeShortNames[t] %>
            </a>
          </li>
          <% }); %>
        </ul>

        <% }); %>
      </div>
    </div>
  </div>
  <% if (curType !== "table") { %>
  <a href="#" class="btn btn-small customize-button">Plot Options...</a>
  <% } %>
</div>
