<!-- libraryCreateTemplate -->

<h2>New Library</h2>

<div class="row-fluid">
  <div class="multi-input-row">
    <div class="row-fluid">
      <label class="control-label">Language</label>
      <div>
        <select id="lib-selector" class="source">
          <option value="scala">Upload Java/Scala JAR</option>
          <option value="python" selected="true">Upload Python Egg or PyPI</option>
          <% if (window.settings.enableMavenLibraries) { %>
          <option value="maven">Maven Coordinate</option>
          <% } %>
        </select>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <h5>Install PyPi Package</h5>
    <div id="pip-installer" class="multi-input-row">
      <div class="row-fluid">
        <label class="control-label">PyPi Name</label>
        <div><input type="text" class="pip_library_name" placeholder="PyPi Package"></div>
      </div>
      <div class="row-fluid">
        <button class="btn btn-small submit-pip-library">Install Library</button>
      </div>
    </div>

    <div class="row-fluid">
      <h5>Upload Egg</h5>
      <div id="table-import-details">
        <div class="multi-input-row">
          <div>
            <label class="control-label">Library Name</label>
            <div><input type="text" class="field_library_name" placeholder="Library Name"></div>
          </div>
        </div>
        <div class="multi-input-row">
          <div>
            <label>Egg File</label>
            <div class="dropzoneEggFiles"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid table-import-submit">
      <div class="library-create-message"><!-- Will be filled in by JavaScript --></div>
      <button class="btn btn-small submit-create-library">Create Library</button>
    </div>
  </div>
</div>
