<!-- tableCreateTemplate -->
<div class="container-fluid table-create">
  <div class="table-error-zone"></div>

  <div class="row-fluid">
    <div class="data-import">
      <h2>Data Import</h2>
    </div>
  </div>

  <div class="data-source">

    <div class="row-fluid">
      <div class="table-preview-left-panel"> <label>Data Source</label> </div>
      <div class="table-preview-right-panel">
        <select name="data-source-select" class="table-import-select-field">
          <option value="File" selected="selected">File</option>
          <% if (!window.settings.disableS3TableImport) { %>
          <option value="S3">S3</option>
          <% } %>
          <option value="DBFS">DBFS</option>
          <option value="JDBC" id ="jdbc-data-source-option">JDBC</option>
        </select>
      </div>
    </div>

    <div class="row-fluid file-source hidden">
      <div class="table-preview-left-panel"> <label>File(s)</label> </div>
      <div class="table-preview-right-panel">
        <div id="dropzoneTableFiles" class="dropzone"></div>
      </div>
    </div>

    <!-- the message that shows up after you have uploaded one or more files -->
    <div class="row-fluid file-source hidden">
      <div class="file-upload-message"></div>
    </div>

    <div class="row-fluid s3-source">
      <div class="table-preview-left-panel"> <label>AWS Key ID</label> </div>
      <div class="table-preview-right-panel">
        <input type="text" name="s3-aws-key-id" placeholder="AWS Key ID"
               class="table-import-input-field" />
      </div>
    </div>

    <div class="row-fluid s3-source">
      <div class="table-preview-left-panel"> <label>Secret Access Key</label> </div>
      <div class="table-preview-right-panel">
        <input type="password" name="s3-aws-key" placeholder="Secret Access Key"
               class="table-import-input-field" />
      </div>
    </div>
    <div class="row-fluid s3-source">
      <div class="table-preview-left-panel"> <label>S3 Bucket Name</label> </div>
      <div class="table-preview-right-panel">
        <input type="text" name="s3-bucket" class="table-import-input-field" required />
      </div>
    </div>

    <div class="row-fluid s3-source">
      <button class="btn btn-primary btn-medium s3-browse-submit">Browse Bucket</button>
    </div>

    <div class="row-fluid jdbc-source hidden">
      <div class="table-preview-left-panel"> <label>URL</label> </div>
      <div class="table-preview-right-panel">
        <input type="text" name="jdbc-url" class="table-import-input-field"
               placeholder="(Required)" />
      </div>
    </div>
    <div class="row-fluid jdbc-source hidden">
      <div class="table-preview-left-panel"> <label>Username</label> </div>
      <div class="table-preview-right-panel">
        <input type="text" name="jdbc-username" class="table-import-input-field"
               placeholder="(Leave blank if not needed)"/>
      </div>
    </div>
    <div class="row-fluid jdbc-source hidden">
      <div class="table-preview-left-panel"> <label>Password</label> </div>
      <div class="table-preview-right-panel">
        <input type="password" name="jdbc-password" class="table-import-input-field"
               placeholder="(Leave blank if not needed)" />
      </div>
    </div>
    <div class="row-fluid jdbc-source hidden">
      <div class="table-preview-left-panel"> <label>Table / Query</label> </div>
      <div class="table-preview-right-panel">
        <input type="text" name="jdbc-query" class="table-import-input-field"
               placeholder="(Required)"/>
      </div>
    </div>
    <div class="jdbc-extra-properties"></div>
    <div class="row-fluid jdbc-source hidden">
      <button class="btn btn-primary btn-medium jdbc-connect">Connect</button>
      <button class="btn btn-primary btn-medium add-jdbc-property">Add Property</button>
    </div>

    <div class="row-fluid s3-source s3-browser hidden">
      <div class="span12">
        <div class="table-title-div">
          <h2>Select table source
            <i class="preview-spinner file-tree-preview-spinner fa fa-spinner fa-spin"></i>
            <button class="btn btn-primary btn-medium refresh-btn">
              <i class="fa fa-repeat"></i>
              Refresh
            </button>
          </h2>
        </div>
        <div class="filetree-container">
          <div class="FileTree"></div>
        </div>
        <div class="filetree-overflow-message" style="visibility: hidden;">
          Warning: too many elements to display</div>
      </div>
    </div>

    <div class="row-fluid s3-source s3-browser file-source hidden">
      <div class="table-preview-left-panel">
        <button class="btn btn-primary btn-medium submit-preview-table hidden" disabled>
          Preview Table
        </button>
      </div>
    </div>

    <div class="row-fluid table-details hidden">
      <div class="table-details-header">
        <h2>Table Details</h2>
      </div>
    </div>
    <div class="row-fluid table-details">
      <div class="table-preview-left-panel detail-fields">
        <div class="table-title-div hidden" style="display: block;">
          <label>Table name</label>
          <input type="text" name="table-name" class="table-details-input-field"
                 placeholder="Enter table name (required)" required="">
        </div>
        <div class="filetype-options hidden" style="display: block;">
          <label>File type</label>
          <select name="file-type" class="table-details-select-field">
            <option value="CSV" selected="selected">CSV</option>
            <option value="JSON">JSON</option>
            <option value="Avro">Avro</option>
            <option value="Parquet">Parquet</option>
          </select>
        </div>
        <!-- CSV-specific options -->
        <div class="csv-table-details hidden" style="display: block;">
          <label>Column Delimiter</label>
          <input type="text" name="field-delimiter" value="" class="table-details-input-field"
                 placeholder="(Autodetected if not given)" required="">
        </div>
        <div class="csv-table-details hidden" style="display: block;">
          <input class="checkbox-option" type="checkbox" name="use-header">
          <label class="checkbox-option">First row is header</label>
        </div>
        <!-- End of CSV-specific options -->
        <!-- JSON-specific options -->
        <div class="json-table-details hidden" style="display: block;">
          <input class="checkbox-option" type="checkbox" name="use-full-table-inference">
          <label class="checkbox-option">Infer schema using all data</label>
        </div>
        <!-- End of JSON-specific options -->
        <div class="table-import-submit hidden" style="display: block;">
          <button class="btn btn-primary btn-medium submit-create-table" disabled="disabled"
                  style="display: none;">Create Table</button>
          <i class="create-spinner fa fa-spinner fa-spin" style="opacity: 0;"></i>
        </div>
        <div>
          <div class="table-create-message"></div>
        </div>
      </div>
      <div class="table-preview-right-panel">
        <div class="hidden" style="display: block;">
          <div class="flex-div">
            <div class="table-import-columns-message">Loading table preview  </div>
            <i class="preview-spinner table-preview-spinner fa fa-spinner fa-spin"
                 style="opacity: 0;"></i>
          </div>
          <div class="table-import-columns results noscroll hidden" style="display: block;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="span8">
  <div class="table-create-message">
    <!-- Will be filled by Javascript -->
  </div>
</div>
