// Initial check modal
.modal-footer-publish-notebook-modal > div {
  text-align: left;
}

.modal-footer .publish-notebook-buttons {
  float: right;
}

input.pref-autoPublish {
  margin-top: -3px;
  margin-right: 5px;
}

// Publication confirmed modal
#publish-notebook-url {
  width: 450px;
  background-color: #fff;
  cursor: text;
  margin-top: 25px;
  margin-bottom: 10px;
}

.modal-body.modal-body-publish-notebook-confirm > div {
  margin-top: 10px;
}

.modal-footer.modal-footer-publish-notebook-confirm {
  margin-bottom: 10px;
}

.publish-hub-notebook-modal .dropzone {
  margin: 0;
}

.publish-hub-notebook-modal label,
.publish-hub-notebook-modal .modal-footer {
  margin-top: 10px;
}

.publish-hub-notebook-modal .tooltip-react-outer {
  width: 100%;
}

.publish-hub-notebook-modal input {
  height: inherit;
  width: 100%;
  box-sizing: border-box;
  height: inherit;
}
